<html>

<head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
    <style type="text/css">
        .menulink {
            background-color: #26b72b;
            text-align: center;
        }

        .around-xs a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="row around-xs">
        <div class="col-xs-2">
            <a href="/">
                <div class="box menulink">
                    home
                </div>
            </a>
        </div>

        <div class="col-xs-2">
            <a href="/addpodcast">
                <div class="box menulink">
                    add podcast
                </div>
            </a>
        </div>

        <div class="col-xs-2">
            <a href="/logout">
                <div class="box menulink">
                    log out
                </div>
            </a>
        </div>
    </div>